Debug
Debug\
\Debug
\Debug\
*\Debug\*
*.log
*.tlog
*.obj
*.pch
*.idb
*.pdb

*.user
*.aps
Projects/GameAssist/GameAssist.vcxproj.user


*.ipch
*.exe
*.ilk
.svn


/**/Debug:
/**/Release:

/Debug/
/Release/

Debug/*
Release/*

**/Debug/*
**/Release/*


**/*.qmlc
**/*.pro.user
**/*.qmlproject.user

*.opensdf
*.sdf